<div class="banner-wrapper">
  <div class="banner-mugshot">
    <%= image_tag "/images/mugshot.jpg", alt: "alttext" %>
  </div>
  <div class="banner-title">
    <div id="banner-lucas"><b>LUCAS</b></div>
    <div id="banner-cheung"><b>CHEUNG</b></div>
  </div>
</div>
