<div class="giaraffe-wrapper">
  <%= image_tag "images/giaraffe.jpg", alt: "alttext" %>
  <%= image_tag "images/giaraffe2.jpg", alt: "alttext" %>
  <div class="giaraffe-title">
    <h1>This is Ralph the Giaraffe.</h1>
  </div>
</div>
