<div class="giraffe-wrapper">
  <%= image_tag "images/giraffe.jpg", alt: "alttext" %>
  <%= image_tag "images/giraffe2.jpg", alt: "alttext" %>
  <div class="giraffe-title">
    <h1>This is Ralph the Giraffe.</h1>
  </div>
</div>
