<div class="trump-wrapper">
    <div class="trump-head">
      <%= image_tag "trump_head.png", alt: "alttext", width: "350px" %>
    </div>
  <div class="trump-food-container">
    <div class="trump-food" style="width:50px">
    </div>
    <div class="trump-food chosen" style="width:50px">
      <%= image_tag "food.png", alt: "alttext", width: "50px" %>
    </div>
    <div class="trump-food">
      <%= image_tag "food.png", alt: "alttext", width: "50px" %>
    </div>
    <div class="trump-food">
      <%= image_tag "cherry.png", alt: "alttext", width: "150px" %>
    </div>
  </div>
</div>
