.about-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  .about-container {
    margin: auto;
    text-align: center;
    h1 {
      font-size: 3vw;
      font-weight: bold;
    }
  }
}
