.giaraffe-wrapper {
  background: #2c303f;
  img {
    max-width: 100vw;
    max-height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .giaraffe-title {
    font-size: 3vw;
  }
}
