.trump-wrapper  {
  background: black;
  position: relative;
  height: 100vh;
  color: black;
  .trump-head {
    position: absolute;
    left: 0;
    z-index: 3;
    top: calc(50vh - 280px);
  }
  .trump-food-container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .trump-food {
      margin: 50px;
    }
  }
}
