<div class="footer">
  <div class="footer-copyright">
    Copyright © 2019 Lucas Cheung.
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/arrow.digital.marketing"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/arrowmediaglobal"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/Arrow_Speaks"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/arrow-media-global-ltd/"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
