<div class="footer">
  <div class="footer-copyright">
    Copyright © 2019 Lucas Cheung.
  </div>
  <div class="footer-links">
    <a target="_blank" href="https://www.instagram.com/lucas_cheung"><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="https://www.facebook.com/lucascheung"><i class="fab fa-facebook"></i></a>
    <a target="_blank" href="https://github.com/lucascheung"><i class="fab fa-github"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/lucas-cheung-43948370/"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
